footer {
	text-align: center;
}

.profile,
.codeSource,
.hostSite {
	text-decoration: none;
}

.profile:hover,
.codeSource:hover,
.hostSite:hover {
	text-decoration: underline;
	transition: all 200ms ease-in-out;
}
