.searchEngine {
	text-align: center;
	padding: 10px;
}

input {
	font-size: 14px;
	width: 300px;
	border: 3px solid #fbceb1;
	border-radius: 12px;
	color: black;
	padding: 10px;
	margin: 5px;
}

.hint {
	font-size: 15px;
	text-align: center;
	margin: 2px;
}

.card {
	background: white;
	padding: 30px 100px;
}
