.searchEngine {
	text-align: center;
	padding: 10px;
}

.results input {
	width: 300px;
	padding: 10px;
	border: 3px solid #fbceb1;
	border-radius: 12px;
	color: #efc8aa;
	margin: 5px;
}

.hint {
	font-size: 15px;
	text-align: center;
	margin: 2px;
}
