.card {
	color: black;
	background: #fff6dd;
	padding: 30px 25px;
	border-radius: 25px;
}

.RecipeInfo .card h3 {
	margin-top: 1.5px;
	margin-bottom: 1.5px;
}

.RecipeInfo .card h4 {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.RecipeInfo .card ul {
	padding-left: 20px;
	margin-top: 2px;
}
